AWS_REGION=us-east-1
BEDROCK_API_KEY=replace_with_real_key
BEDROCK_MODEL_ID=replace_with_real_model_id
DYNAMO_TABLE_USERS=dev-users
DYNAMO_TABLE_ROLES=dev-roles
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
NODE_ENV=dev
IS_LOCAL=true