AWS_REGION=us-east-1
BEDROCK_API_KEY=replace_with_real_key
BEDROCK_MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
DYNAMO_TABLE_USERS=dev-users
DYNAMO_TABLE_ROLES=dev-roles
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
NODE_ENV=dev
# True to local development
IS_LOCAL=true